<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">



	<menuitem title="Party" name="party-root" />
	<menuitem title="Party" name="party-root-party-child" parent="party-root"
		action="action.gst.view.party" />
	<action-view name="action.gst.view.party" title="Party">
		<view type="grid" name="party-grid" />
		<view type="form" name="party-form" />
	</action-view>
	<menuitem title="Contact" name="party-root-contact-child"
		parent="party-root" action="action.gst.view.contact" />
	<action-view name="action.gst.view.contact" title="Contact">
		<view type="grid" name="contact-grid" />
		<view type="form" name="contact-form" />
	</action-view>
	<menuitem title="Configurations" name="party-root-configuration-child"
		parent="party-root" />

	<menuitem title="Address" name="configuration-root-address-child"
		parent="party-root-configuration-child" action="action.gst.view.address" />
	<action-view name="action.gst.view.address" title="Address">
		<view type="grid" name="address-grid" />
		<view type="form" name="address-form" />
	</action-view>
	<menuitem title="City" name="configuration-root-city-child"
		parent="party-root-configuration-child" action="action.gst.view.city" />
	<action-view name="action.gst.view.city" title="City">
		<view type="grid" name="city-grid" />
		<view type="form" name="city-form" />
	</action-view>
	<menuitem title="State" name="configuration-root-state-child"
		parent="party-root-configuration-child" action="action.gst.view.state" />
	<action-view name="action.gst.view.state" title="State">
		<view type="grid" name="state-grid" />
		<view type="form" name="state-form" />
	</action-view>
	<menuitem title="Country" name="configuration-root-country-child"
		parent="party-root-configuration-child" action="action.gst.view.country" />
	<action-view name="action.gst.view.country" title="Country">
		<view type="grid" name="country-grid" />
		<view type="form" name="country-form" />
	</action-view>







</object-views>
